/* ini css */

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-article {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.banner-autoslide {
    height: 250px;
    width: 100%;
    background-image: url('../img/img.jpg');
}

.main-logo {
    height: 75px;
    width: 75px;
    background-image: url('../img/img.jpg');
    background-position: center;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.navbar:first-child {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.navbar:last-child {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.main-article-header {
    text-align: center;
}

header, main, hr {
    margin: 32px;
}

.our-package-header {
    text-align: center;
}

.our-package-content {
    text-align: center;
}

footer {
    text-align: center;
}